extends layout

block link
  -var selected = 'Chapitre';
  -var css = "game_page";
 
block content
  div(id="backpack_box" class="box context_content")
    div(class="box-content")
      h3 Sac à dos
      table(class="grid grid-border")
        each pack, key in session.player.backpack
          if key%4 == 0
            tr
          td #[img(src="/images/"+pack+".png")]
    a(href="#")

  div(id="special_object" class="box context_content")
    div(class="box-content")
      h3 Objets spéciaux
      table(class="grid grid-border")
       each spe, key in session.player.spe_object
          if key%4 == 0
            tr
          td #[img(src="/images/"+spe+".png")]
    a(href="#") 
  
  div(id="story_flow" class="chapter-content")
    h2 Menu
    div(class="context_menu line")
      div(class="backpack")
       a(href="#backpack_box") #[img(src="/images/backpack.png" title="backpack")]
      div(class="special_object")
       a(href="#special_object") #[img(src="/images/special_objects.png" title="backpack")]       


    h2 Page #{chap}
    div(id="story")
      block story
    
    div(id="picture" class="content-center")
      block picture 

    div(id="fight")
      block fight

    div(id="turn" class=displayTurn)
      block turn

  include ./stats.jade 
    