extends layout

block link
  -var selected = 'Chapitre';

 
block content
  h2 Sommaire du joueur

  section(class="context_menu")
    div(class="adventure")
     a(href="#adventure_box") Feuille de route
    div(class="backpack")
     a(href="#backpack_box") #[img(src="/images/backpack.png" title="backpack")]
    div(class="special_object")
     a(href="#special_object") #[img(src="/images/special_objects.png" title="backpack")]  

  section 
    span Habiletés
    span 13

  section 
    span Endurance
    span 18

  section 
    span Pièces d'or
    span 48

  section 
    span Disciplines
    span Camouflage
    span Chasseur
    span Sixième sens
    span Orientation
    span Guérison
    
  h2 Équipements
    
  section 
    span Armes
    span Marteau de guerre
    span Glaive

  h2 Page #{chap}
  section(id="story")
    block story
   
  section(id="fight")
    block fight

  section(id="turn")
    block turn

  section(id="picture")
    block picture

  h2 Historique des combats
  div
    span Chapitre
    span Ennemi
    span Résultat
  div
    span 78
    span Bakana
    span Victoire
    button Voir Combat
  div
    span 345
    span Bob
    span Défaite
    button Voir Combat