extends layout

block link
  -var selected = 'Chapitre';
  -var css = "game_page";
 
block content
  div(id="storyBoard" ng-controller="ChapterCtrl as cc")
    //- Affichage du menu contextuel pour le sac à dos
    div(ng-show="cc.displayBackpack" id="backpack_box" class="box")
      div(class="box-content")
        h3 Sac à dos
        table(class="grid grid-border")
          tr(ng-repeat="l in [0,1]")
            td(ng-repeat="r in [0,1,2,3]")
              img(ng-if="cc.player.backpack[l*4+r]" src="/images/{{cc.player.backpack[l*4+r]}}.png")
      a(ng-click="cc.displayBackpack=false")

    //- Affichage du menu contextuel pour les objets spéciales
    div(ng-show="cc.displayObject" id="special_object" class="box")
      div(class="box-content")
        h3 Objets spéciaux
        table(class="grid grid-border")
          tr(ng-repeat="l in [0,1]")
            td(ng-repeat="r in [0,1,2,3]")
              img(ng-if="cc.player.spe_object[l*4+r]" src="/images/{{cc.player.spe_object[l*4+r]}}.png")
      a(ng-click="cc.displayObject=false") 

    //- Affichage du menu contextuel pour le soins
    div(ng-show="cc.healing" id="heal_popup" class="box")
      div(class="box-content")
        h3 Pouvoir Kai de soins
        p Vous venez de régénérer 2 points d'endurance

        label
          input(type="checkbox" ng-model="cc.displayHeal") 
          | Cochez si vous souhaitez ne plus afficher cette information à chaque nouveau chapitre
      a(ng-click="cc.healing=false") 
    
    //- Affichage principale pour l'histoire
    div(id="story_flow" class="chapter-content")
      h2 Menu
      div(class="context_menu line")
        div(class="backpack")
          a(href="" ng-click="cc.displayBackpack=true")
            img(src="/images/backpack.png" title="backpack" )
        div(class="special_object")
          a(href="" ng-click="cc.displayObject=true")
            img(src="/images/special_objects.png" title="backpack")     

      h2 Page #{chap}
      div(id="story")
        p(ng-repeat="txt in cc.game.info_page.text").
          {{txt}}
      
      div(id="picture" class="content-center" ng-if="cc.game.info_page.image")
        img(src="{{cc.game.info_page.image}}")

      div(ng-if="(!cc.all && !cc.game.info_page.battle) || (cc.game.info_page.battle && cc.battleOver)")
      //-div(id="fight" ng-if="cc.game.info_page.battle")
        p Choisir une option
        button(class="button" ng-click="cc.addRound()") Combattre
        button(class="button" ng-click="cc.fuir()") Fuir

        h3 Combat en cours
        table(class="battleHistory")
         thead
            tr
                th Tour
                th Endurance
                th Dmg
                th(id="battleInvariantLeftHeader") Ratio
                th(id="battleInvariantRightHeader") Number
                th Dmg
                th Endurance
         tbody
          tr(ng-repeat="round in cc.battle.rounds")
              td tour
              td {{round.playerEndurance}}
              td {{round.ennemyEnduranceLose}}
              td {{round.combatRatio}}
              td {{round.randomNumer}}
              td {{round.playerEnduranceLose}}
              td {{round.ennemyEndurance}}         

      div(ng-if="!cc.game.all && !cc.game.info_page.battle.name" class="interaction")
        fieldset
          div(ng-if="cc.game.info_page.choice.length")
            label(ng-repeat="c in cc.game.info_page.choice")
              input(type="checkbox" id="{{c.type}}" name="sel_objet" value="{{c.quantite}}")
              | {{c.intitule}}

          div(ng-if="cc.game.info_page.info")
            {{cc.game.info_page.info}}

          div(ng-if="cc.game.end") Vous êtes mort !

          button(ng-if="cc.game.info_page.info && !cc.game.info_page.choice.length" ng-click="cc.validation('')") Continuer
          button(ng-if="cc.game.info_page.choice.length" ng-click="cc.validation('CHOICE')") Continuer
          button(ng-if="cc.game.end" ng-click="cc.validation('END')") Continuer
        //-a(href="" ng-click="cc.validation()") Continuer ...

      div(id="turn" ng-if="cc.next")
        p(ng-repeat="next in cc.game.next_page") {{next.text}}
          a(href="" ng-click="cc.nextPage(next.id)") {{next.id}}

    //- Affichage des stats du joueurs
    include ./stats.jade 
    