extends layout

block link
  -var selected = 'Chapitre';
  -var css = "game_page";
 
block content
  div(id="storyBoard" ng-controller="ChapterCtrl as cc")
    //- Affichage du menu contextuel pour le sac à dos
    div(id="backpack_box" class="box context_content")
      div(class="box-content")
        h3 Sac à dos
        table(class="grid grid-border" ng-repeat="object in cc.backpack")
          //-if $index%4 == 0
            tr
          td #[img(src="/images/{{object}}.png")]
      a(href="#")

    //- Affichage du menu contextuel pour les objets spéciales
    div(id="special_object" class="box context_content")
      div(class="box-content")
        h3 Objets spéciaux
        table(class="grid grid-border" ng-repeat="sobject in cc.spe_object")
          //-if $index%4 == 0
            tr
          td #[img(src="/images/{{sobject}}.png")]
      a(href="#") 
    
    //- Affichage principale pour l'histoire
    div(id="story_flow" class="chapter-content")
      h2 Menu
      div(class="context_menu line")
        div(class="backpack")
         a(href="#backpack_box") #[img(src="/images/backpack.png" title="backpack")]
        div(class="special_object")
         a(href="#special_object") #[img(src="/images/special_objects.png" title="backpack")]       

      h2 Page #{chap}
      div(id="story")
        p(ng-repeat="txt in cc.game.info_page.text").
          {{txt}}
      
      div(id="picture" class="content-center" ng-if="cc.game.info_page.image")
        img(src="{{cc.game.info_page.image}}")

      div(id="fight" ng-if="cc.game.info_page.battle")
        p Choisir une option
        button(class="button" ng-click="cc.battle()") Combattre
        button(class="button" ng-click="cc.validation()") Fuir

        h3 Combat en cours
        table(class="battleHistory")
         thead
            tr
                th Tour
                th Endurance
                th Dmg
                th(id="battleInvariantLeftHeader") Ratio
                th(id="battleInvariantRightHeader") Number
                th Dmg
                th Endurance
         tbody
          tr(ng-repeat="battle in cc.battle_rounds")
              td 1
              td 2
              td 3
              td 4
              td round.randomNumber
              td 6
              td 7         

      div(ng-if="!cc.all && !cc.game.info_page.battle")
        a(href="" ng-click="cc.validation()") Continuer ...

      div(id="turn" ng-if="cc.game.all")
        p(ng-repeat="next in cc.game.next_page") {{next.text}}
          a(href="" ng-click="cc.nextPage(next.id)") {{next.id}}

    //- Affichage des stats du joueurs
    include ./stats.jade 
    