extends layout

block link
  -var selected = 'chap';
block content
 h1 LE LOUP SOLITAIRE

 h2 Sommaire du joueur
 table
   tr
    th Habiletés
    th Endurance
    th Pièces d'or

   tr
    td 13
    td 18
    td 48

  table
   tr
    th Disciplines
    td Camouflage
    td Chasseur
    td Sixième sens
    td Orientation
    td Guérison
  
 h2 Équipements
  
 table
  tr
   th Armes
   td Marteau de guerre
   td Glaive

 table
  tr
   th Sac à dos
   td Rations spéciales
   td Potion de Lampsur
   td Gilet de cuir matelassé
   td Vide
   td Vide
   td Vide
   td Vide
   td Vide

 table
  tr
   th Objets spéciaux
   td Objet 1
   td Objet 2

 h2 Page #{chap}
 div(id="story")
  block story
 
 div(id="fight")
  block fight

 div(id="turn")
  block turn

 div(id="picture")
  block picture

 h2 Historique des combats
 table
  tr
   th Combats
  tr
   td Monstre
  tr
   td Monstre 2