h3 Combat entre Joueur 1 et Bakanal
table
  thead
    tr
     th Joueur 1
     th Endurance
     th Habileté
     th Attaque
     th Habileté
     th Endurance
     th Bakanal
  tbody
    tr
     td J1
     td 14
     td 8
     td 5
     td 9
     td 17
     td J2
    tr
     td J1
     td 12
     td 8
     td 7
     td 9
     td 15
     td J2
    tr
     td J1
     td 4
     td 8
     td 2
     td 9
     td 5
     td J2
    tr
     td J1
     td 2
     td 8
     td 7
     td 9
     td 0
     td J2

div
  button Poursuivre le combat
  button Voir le combat complet
  button Fuir


p Vous avez gagné!