extends layout

block link
  -var selected = 'help';

block content
  h2 Guide de jeu

  h3 Règles du jeu
  p Vous trouverez au début de ce livre une Feuille d'Aventure sur laquelle vous inscrivez tous les détails de votre quête. Il est conseillé d'en faire des photocopies qui vous
    | permettront de jouer plusieurs fois.

  p Au cours de l'initiation qui vous a permis de devenir un Seigneur Kaï, vous avez acquis une force exceptionnelle ; les deux éléments essentiels
    | de cette force sont représentés par votre HABILETÉ au combat et votre ENDURANCE. Avant d'entreprendre votre mission, il vous faudra mesurer exactement le degré d'efficacité de votre
    | entraînement. A cet effet, vous devrez placer devant vous la Table de Hasard qui se trouve à la fin du livre, fermer les yeux et pointer l'extrémité non taillée d'un crayon sur l'un
    | des chiffres de la Table en laissant faire le hasard. Si votre crayon désigne le chiffre 0, vous n'obtenez aucun point.

  p Le premier chiffre que votre crayon aura montré sur la
    | Table de Hasard représentera votre HABILETÉ au combat. Ajoutez 10 à ce chiffre et inscrivez le total obtenu dans la case HABILETÉ de votre Feuille d'Aventure. (Si par exemple
    | votre crayon indique lechiffre 4 sur la Table de Hasard, vos points d'HABILETÉ seront de 14).
  p Lorsque vous aurez à combattre, il faudra mesurer votre HABILETÉ à celle de votre adversaire. Il est donc souhaitable que votre total d'HABILETÉ soit le plus élevé possible.

  p Le deuxième chiffre que votre crayon désignera sur la Table de Hasard représentera 
    | votre capacité d'ENDURANCE. Ajoutez 20 à ce chiffre et inscrivez le total obtenu dans la case ENDURANCE de votre Feuille d'Aventure. (A titre d'exemple, si votre crayon indique
    | le chiffre 6 sur la Table de Hasard, le total de vos points d'ENDURANCE sera de 26).

  p Si vous êtes blessé lors d'un combat, vous perdrez des points d'ENDURANCE et si jamais votre
    | ENDURANCE tombe à zéro, vous saurez alors que vous venez d'être tué et que votre aventure est terminée. Au cours de votre mission, vous aurez la possibilité de récupérer des points
    | d'ENDURANCE mais votre total d'ENDURANCE ne pourra en aucun cas dépasser celui dont vous disposiez au départ de votre mission.

  p Si vous avez mené avec succès une ou plusieurs des aventures précédentes de la série du Loup Solitaire, vos points d'HABILETÉ et d'ENDURANCE vous sont déjà connus et vous savez
    | également quelles sont les Disciplines Kaï que vous maîtrisez. C'est avec ces mêmes éléments que vous entreprendrez votre quête dans ce cinquième volume. Vous pourrez aussi emporter
    | dans cette nouvelle aventure les armes et les objets qui se trouvaient en votre possession à la fin de votre dernière mission : vous devrez alors les inscrire en détail sur votre
    | Feuilled'Aventure. (Rappelez-vous cependant que vous n'avez toujours pas droit à plus de deux armes et huit objets contenus dans votre Sac à Dos).

  p Pour chaque aventure du Loup Solitaire que vous aurez menée avec succès, vous aurez le droit d'ajouter une Discipline Kaï supplémentaire à votre Feuille d'Aventure : si vous êtes
    | déjà un familier de la série du Loup Solitaire, reportez-vous à présent à la rubrique équipement de ce cinquième volume et lisez-la attentivement.

  p Au cours des siècles, les moines Kaï ont appris à maîtriser toutes les techniques du guerrier. Ces techniques sont connues sous le nom de Disciplines Kaï et enseignées aux Seigneurs
    | Kaï. Vous avez, quant à vous, le rang d'Initié, ce qui signifie que vous maîtrisez cinq des techniques décrites ci-dessous. Il vous appartient de choisir vous-même ces cinq
    | Disciplines. Chaque Discipline Kaï peut vous être utile à un moment ou à un autre de votre quête et votre choix devra être le plus judicieux possible; dans certaines circonstances,
    | une habile mise en pratique de l'une de ces techniques peut vous sauver la vie. Lorsque vous aurez choisi vos cinq Disciplines, inscrivez-les dans la case correspondante de votre
    | Feuille d'Aventure.

  p A compléter et à modifier.

  h3 Equipement

  p A compléter et à modifier.