extends layout

block link
  -var selected = 'Accueil';

block content
  div(class="chapter-content")
    h2 Histoire
    p Au nord du royaume du Sommerlund, il est de tradition depuis des siècles d'envoyer les fils des Seigneurs de la Guerre au monastère Kaï.
      | C'est là qu'on leur enseigne l'art et la science de leurs nobles ancêtres.
    p Vous êtes le Loup Solitaire et le dernier Seigneur de la Guerre que compte encore le Sommerlund. Il y a un an, les ennemis irréductibles de votre peuple - les Maîtres des Ténèbres d'Helgedad -
      | ont envahi le royaume par surprise et complètement détruit le monastère Kaï. Tous les Guerriers Kaï qui y étaient rassemblés pour préparer la fête de Fehrman ont été massacrés.
      | Vous avez été le seul à échapper à la tuerie.
    p Commencez l'aventure dès maintenant!
    
    h2 Livre-Jeu
    p Le Loup Solitaire est un jeu de type "Livre-Jeu", vous progresser dans l'histoire en suivant les chapitres. Dans chacun des chapitres vous aurez des choix 'a faire ou des combats à gagner pour continuer.
    p Votre personnage peut ramasser plusieurs objets qui le rendront plus puissant pour pouvoir progresser.

    div
      a(href='/new_game') Commencer une partie