extends layout

block link
  -var selected = 'home';

block content
  h1 Le Loup Solitaire : Les Grottes de Katle

  h2 Histoire

  p Au nord du royaume du Sommerlund, il est de tradition depuisdes siècles d'envoyer les fils des Seigneurs de la Guerre aumonastère Kaï.
  | C'est là qu'on leur enseigne l'art et la science deleurs nobles ancêtres.
  p Vous êtes le Loup Solitaire et le dernier Seigneur de la Guerreque compte encore le Sommerlund. Il y a un an, les ennemisirréductibles de votre peuple - les Maîtres des Ténèbresd'Helgedad -
  | ont envahi le royaume par surprise etcomplètement détruit le monastère Kaï. Tous les Guerriers Kaïqui y étaient rassemblés pour préparer la fête de Fehrman ont étémassacrés.
  | Vous avez été le seul à échapper à la tuerie.
  p Commencez l'aventure dès maintenant!
  
  h2 Livre-Jeu
  p Le Loup Solitaire est un jeu de type "Livre-Jeu", vous progresser dans l'histoire en suivant les chapitres. Dans chacun des chapitres vous aurez des choix 'a faire ou des combats à gagner pour continuer.
  p Votre personnage peut ramasser plusieurs objets qui le rendront plus puissant pour pouvoir progresser.
  
  a(href='/new_game') Créer votre joueur
