doctype html

//- Définition du block link qui permet de modifier les variables -- qui setup des éléments du site -- dans les jades fils 
block link
  -var selected = 'Accueil'; //default
  -var css;

html(ng-app='loneWolf')
  head
    title= title

    //- Styles globaux
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/menu.css')
    link(rel='stylesheet', href='/stylesheets/footer.css')

    //- Style spécifique à la page affcihée
    link(rel='stylesheet', href='/stylesheets/'+css+'.css')
    script(src='/js/angular.min.js')
    script(src='/js/jquery-2.1.4.min.js')
    script(src='/js/lone-wolf.js')
    script(src='/js/controllers.js')
    script(src='/js/filters.js')

  body(ng-controller='GlobalCtrl as titre')
    //- Affiche le menu
    nav(id="general_menu", class="style_menu")
      ul
        each val, key in menu
          if selected === key
            li.selected
              a(href=val, title=key)=key
          else
            li
              a(href=val, title=key)=key

    //- Affiche le titre du jeu
    h1.site_title {{titre.title}}
      a(href="/" title="{{titre.sayHello()}}")
        img(src="/images/title.png")
    
    
    //- Affiche le contenue
    div(id="content" class="content center")
      block content

    //- Affiche le bas de page
    footer(class="content-center")
      p #[a(href="/", title="Accueil") Accueil] | #[a(href="/new_game", title="Nouvelle partie") Nouvelle partie] | #[a(href="/chap", title="Chapitre") Chapitre] | #[a(href="/help", title="Guide de jeu") Guide de jeu] 
      p Site créé avec Express, Jade et NodeJS dans le cadre du cours LOG4420.
      p Équipe composée de Julien Bergeron(1611134) et de Théo Chapon(1810945)