doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  block link
    -var selected = 'home'; //default

  -var menu = { 'home': '/', 'new game': '/new_game', 'chap': '/chap', 'help': '/help' };

  body
    nav
      ul
        each val, key in menu
          li
            if selected === key
              a.selected(href=val, title=key)=key
            else
              a(href=val, title=key)= key

    block content



    footer
      p 
      | Footer
      | Site créé avec Express, Jade et utilise NodeJS dans le cours de LOG4420.
