extends layout

block link
  -var selected = 'Chapitre';
block content
  div(class="chapter-content")
    h2 Liste des chapitres
    div 1-10 : 
      a(href='/chap/1') 1
    div 71-80 : 
      a(href='/chap/78') 78
    div 151-160 : 
      a(href='/chap/160') 160
    div 201-210 : 
      a(href='/chap/204') 204
    div 241-250 : 
      a(href='/chap/245') 245
    div 271-280 : 
      a(href='/chap/273') 273
    div 311-320 : 
      a(href='/chap/318') 318

