extends layout

block link
  -var selected = 'new game';

block content
  h2 Création d'une nouvelle partie

  div(class='forms-controller')
    form(name="new-game", method="post", action="/new_game_post")
      div(class='field-controller')
        label(for='name') Name :
        input(id='name',type='text',placeholder='Name',name='name')

      div(class='field-controller')
        label(for='kai') Discipline de Kai :
        div(class='checkbox-controller')
          input(type="checkbox", name="kai", value="camouflage")
          | Camouflage
        div(class='checkbox-controller')
          input(type="checkbox", name="kai", value="hunting")
          | Chasse
        div(class='checkbox-controller')
          input(type="checkbox", name="kai", value="sense")
          | Sixème sens
        div(class='checkbox-controller')
          input(type="checkbox", name="kai", value="traking")
          | Orientation
        div(class='checkbox-controller')
          input(type="checkbox", name="kai", value="healing")
          | Guérison
        div(class='checkbox-controller')
          input(type="checkbox", name="kai", value="weaponskill")
          | Maîtrise d'arme      
        div(class='checkbox-controller')
          input(type="checkbox", name="kai", value="mindshield")
          | Bouclier psychique         
        div(class='checkbox-controller')
          input(type="checkbox", name="kai", value="mindblast")
          | Puissance psychique   
        div(class='checkbox-controller')
          input(type="checkbox", name="kai", value="animalkinship")
          | Communication animale
        div(class='checkbox-controller')
          input(type="checkbox", name="kai", value="mindovermatter")
          | Maîtrise psychique de la matière  

      div(class='field-controller')
        label(for='equipment') Equipement :
        div(class='checkbox-controller')
          input(type="checkbox", name="equipment", value="sword")
          | Epee
        div(class='checkbox-controller')
          input(type="checkbox", name="equipment", value="shortsword")
          | Sabre
        div(class='checkbox-controller')
          input(type="checkbox", name="equipment", value="spear")
          | Lance
        div(class='checkbox-controller')
          input(type="checkbox", name="equipment", value="mace")
          | Masse d'armes
        div(class='checkbox-controller')
          input(type="checkbox", name="equipment", value="warhammer")
          | Marteau de guerre    
        div(class='checkbox-controller')
          input(type="checkbox", name="equipment", value="axe")
          | Hâche         
        div(class='checkbox-controller')
          input(type="checkbox", name="equipment", value="broadsword")
          | Glaive 
        div(class='checkbox-controller')
          input(type="checkbox", name="equipment", value="quaterstaff")
          | Bâton
        div(class='checkbox-controller')
          input(type="checkbox", name="equipment", value="wastcost")
          | Gilet de cuir matelassé
        div(class='checkbox-controller')
          input(type="checkbox", name="equipment", value="potion")
          | Potion de Lampur
        div(class='checkbox-controller')
          input(type="checkbox", name="equipment", value="ration")
          | Rations spéciales

      div(class='field-controller')
        input(type='submit',name='submit',value='Commencer le jeu')