extends layout

block link
  -var selected = 'Nouvelle partie';
  -var css = "new_game";

block content
  div(class="chapter-content" ng-controller="PlayerCtrl as player")
    h2 Creation d'une nouvelle partie
    div(class='forms-controller')

      //-Formulaire de création du nouveau joueur
      form(name="newGame")

        //- Affichage du message après retour d'un post
        span(id="name_error" class="hide") Le nom est vide. Un nom ne peut contenir que des lettres, des chiffres et le caratère spécial '_'!
        //- Nom du joueur
        div(class='field-controller')
          h3 Name
          input(id='name',type='text',placeholder='Name',name='name', ng-model="player.name")
        
        //- Sélection des compétences de Kai
        div(class='field-controller')
          h3 Discipline de Kai       
          span(id="kais_error" class="hide") Le nombre de compétences de Kai sélectionnées doit être exactement 5!
          div(class='checkbox-controller' ng-repeat="(key, value) in player.kais")
            input(type="checkbox", id="{{key}}", name="kais", value="{{key}}")
            label(for="{{key}}")
              img(src="/images/{{key}}.png") 
              | {{value}}

        //- Sélection des équipements de départ
        div(class='field-controller')
          h3 Equipement
          span(id="equipments_error" class="hide") Le nombre d'armes ou objets sélectionnés doit être exactement 2!
          div(class='checkbox-controller' ng-repeat="(key, value) in player.equipments")
            input(type="checkbox", id="{{key}}", name="equipments", value="{{key}}")
            label(for="{{key}}")
              img(src="/images/{{key}}.png") 
              | {{value}}

        div(class='field-controller')
          button(name='submit', ng-click="player.submitForm()") Commencer le jeu
