extends ../chapter

block page
  h1 Chapitre soixante-dix-huit, premier combat
  p.
    Une ennemie attaque. Vous parrez like a boss. La contre attaque est mortelle. BOUM !!!

  a(href="100") Victory- Votre récompense

