extends ../chapter

block story
  p Vous vous préparez en hâte et vous sortez de la tente. Le vents'est intensifié et il emporte la neige poudreuse en petitstourbillons 
    | qui réduisent considérablement la visibilité. Uneombre sur votre droite trahit la présence du Bakanal qui bonditsur vous. Vous n'avez 
    | plus le temps d'éviter son Assaut, et il vousfaut le combattre jusqu'à la mort.

block fight
  h3 Combat entre Loup Solitaire et Bakanal
    table(class="battleHistory")
      tr
       th
       th Endurance
       th Habileté
      tr
       td Loup Solitaire
       td(id="BattlePlayerEnduranceColumn") 14
       td 9
      tr
       td Bakanal
       td(id="BattleEnnemyEnduranceColumn") 17
       td 6

  table(class="battleHistory")
    thead
      tr
       th Tour
       th Endurance
       th Dmg
       th(id="battleInvariantLeftHeader") Ratio
       th(id="battleInvariantRightHeader") Number
       th Dmg
       th Endurance
    tbody
      tr
       td 1
       td(id="BattlePlayerEnduranceColumn") 14
       td 6
       td(id="battleInvariantLeftHeader") 0
       td(id="battleInvariantRightHeader") 5
       td 13
       td(id="BattleEnnemyEnduranceColumn") 17
      tr
       td 2
       td(id="BattlePlayerEnduranceColumn") 12
       td 2
       td(id="battleInvariantLeftHeader") 0
       td(id="battleInvariantRightHeader") 7
       td 2
       td(id="BattleEnnemyEnduranceColumn") 15
      tr
       td 3
       td(id="BattlePlayerEnduranceColumn") 4
       td 8
       td(id="battleInvariantLeftHeader") 0
       td(id="battleInvariantRightHeader") 2
       td 10
       td(id="BattleEnnemyEnduranceColumn") 5
      tr
       td 4
       td(id="BattlePlayerEnduranceColumn") 2
       td 2
       td(id="battleInvariantLeftHeader") 0
       td(id="battleInvariantRightHeader") 7
       td 5
       td(id="BattleEnnemyEnduranceColumn") 0

  div
    button(class="button") Poursuivre le combat
    button(class="button") Voir le combat complet
    button(class="button") Fuir


  p Vous avez gagné!

block turn
  p Si vous êtes vainqueur, rendez-vous au 
    a(href="/chap/245") 245.

block picture
  img(src="/images/picture_page_78.png")

