extends ../chapter

block story
  p.
   Vous cachez le cadavre sous l'escalier et vous vous hâtez de le fouiller. Vous y découvrez une Épée d'Os et un Disque de Pierre Bleue. Si vous souhaitez conserver 
   l'un ou l'autre de ces objets (ou les deux), inscrivez-les sur votre Feuille d'Aventure dans la case Objets Spéciaux. 

  div(id="add-objets")
    fieldset
      legend Choisir le(s) objet(s) à conserver
      div
        label
          input(type="checkbox" id="epeeOs" name="epeeOs")
          | Épée d'Os

      div
        label
          input(type="checkbox" id="disquePierreBleue" name="disquePierreBleue")
          | Disque de Pierre Bleue

    button(class="button") Ajouter! 

  p.
   Vous abandonnez ensuite le cadavre et vous montez l'escalier quatre à quatre.

block turn
  p Rendez-vous au 
    a(href="/chap/331/1") 331.

block picture
