extends ../chapter

block story
  p Vous vous préparez en hâte et vous sortez de la tente. Le vents'est intensifié et il emporte la neige poudreuse en petitstourbillons 
    | qui réduisent considérablement la visibilité. Uneombre sur votre droite trahit la présence du Bakanal qui bonditsur vous. Vous n'avez 
    | plus le temps d'éviter son Assaut, et il vousfaut le combattre jusqu'à la mort.

block fight
  h3 Combat entre Loup Solitaire et Bakanal
  table
    thead
      tr
       th Loup Solitaire
       th Endurance
       th Damage
       th Ratio
       th Number
       th Damage
       th Endurance
       th Bakanal
    tbody
      tr
       td J1
       td 14
       td 6
       td 0
       td 5
       td 13
       td 17
       td J2
      tr
       td J1
       td 12
       td 2
       td 0
       td 7
       td 2
       td 15
       td J2
      tr
       td J1
       td 4
       td 8
       td 0
       td 2
       td 10
       td 5
       td J2
      tr
       td J1
       td 2
       td 2
       td 0
       td 7
       td 5
       td 0
       td J2

  div
    button Poursuivre le combat
    button Voir le combat complet
    button Fuir


  p Vous avez gagné!

block turn
  p Si vous êtes vainqueur, rendez-vous au 
    a(href="/chap/245") 245.

block picture
  img(src="/images/picture_page_78.png")

