extends ../chapter

block story
  p Vous vous préparez en hâte et vous sortez de la tente. Le vents'est intensifié et il emporte la neige poudreuse en petitstourbillons 
    | qui réduisent considérablement la visibilité. Uneombre sur votre droite trahit la présence du Bakanal qui bonditsur vous. Vous n'avez 
    | plus le temps d'éviter son Assaut, et il vousfaut le combattre jusqu'à la mort.

block fight
  p BAKANAL HABILETÉ: 19 ENDURANCE: 30. 

block turn
  p Si vous êtes vainqueur, rendez-vous au 
    a(href="/chap/245") 245.

block picture
  img(src="/images/picture_page_78.png")

