extends ../chapter

block page
  h1 Chapitre cent (Sparta, quel est votre métier)
  p.
    Ahou! Ahou! Ahou! Il y a une armée en face de vous. Que faire:
    Choix 1 : Prenez la fuite (Cours forest)
    Choix 2 : Vous allez à leur rencontre (Take your balls guy)
