/* 
  Reset css code by Eric Mayer
  http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*
  CSS code par Chapon Theo et Julien Bergeron
*/

/* Importation de style */
@font-face {
    font-family: "Godofwar";
    src: url('../fonts/GODOFWAR.ttf');
}

@font-face {
    font-family: "Old-Standard-TT";
    src: url('../fonts/OldStandardTT/OldStandard-Regular.ttf');
}
@font-face {
    font-family: "Old-Standard-TT";
    font-style: italic;
    src: url('../fonts/OldStandardTT/OldStandard-Italic.ttf');
}
@font-face {
    font-family: "Old-Standard-TT";
    font-weight: bold;
    src: url('../fonts/OldStandardTT/OldStandard-Bold.ttf');
}

html body {
  font-family: "Old-Standard-TT", Serif;
}

/*Style header */
h1, h2, h3, h4 {
  font-family: "GODOFWAR", "Old-Standard-TT", Serif;
  font-weight: bold;
}

h1 {
  font-size: 40px;
  margin: 40px 20px;
}

h2 {
  font-size: 30px;
  margin: 20px 20px;
}

h3 {
  font-size: 20px;
  margin: 20px 20px;
}


/* Style pour menu */
.style_menu {
  text-align: center;
  background-color: #302E2A;
}

.style_menu ul {
  position: relative;
  display: inline-block;
  list-style-type: none;
  margin: 20px 0px;
  padding: 10px;
  line-height:60px;
}

/* Element de base */
.style_menu ul li {
  display: inherit;
  text-align: center;
  margin: 0px 20px;
  padding: auto;
  width: 200px;
  line-height:50px;
}

.style_menu ul li a {
    text-decoration: none;
    color:white;
    font-size: 20px;
    font-weight:bold;
}

.style_menu ul li a:hover {
    font-size: 25px;
    background: -webkit-radial-gradient(white 5%, #302E2A 90%); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(white 5%, #302E2A 90%); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(white 5%, #302E2A 90%); /* For Firefox 3.6 to 15 */
    background: radial-gradient(white 5%, #302E2A 30%); /* Standard syntax */
}

/* Element selectionne */
.style_menu ul li.selected {
    background: url("/images/border_menu.png") no-repeat;
}



.style_menu ul li.selected a {
    font-size: 20px;
    background: none;
    pointer-events: none;
    cursor: default;
}

/*titre*/
.site_title{
  position: relative;
  top:-20px;
  text-align: center;
  margin-top: 0px;
}

.site_title img {
  width: 40%;
}


/* Style pour formulaire */
h2 {
  text-align: center;
}

.forms-controller{
  display: relative;
  font-size: 18px;
  margin: auto;
  width: 400px;
}

.forms-controller .field-controller h3 {
  display: inline-block;
  padding-right: 30px;
}

.forms-controller .field-controller input {
  height: 30px;
  width: 200px;
  padding: 5px 20px;
}

.forms-controller .field-controller .checkbox-controller {
  margin: 0 0 40px;  
}

.forms-controller .field-controller .checkbox-controller input[type="checkbox"] {
  display: none;
}

.forms-controller .field-controller .checkbox-controller input[type="checkbox"] + label {
  display: inline-block;
  cursor: pointer;
  padding: 5px;
}

.forms-controller .field-controller .checkbox-controller input[type="checkbox"]:checked + label {
  background: url("/images/tick_ok.png") center no-repeat;
}

.forms-controller .field-controller .checkbox-controller label img {
  margin: 0 100px 0 20px;
  vertical-align:middle;
}


.forms-controller .field-controller input[type="submit"] {
  height: 80px;
  width: auto;
  color: #14396A;
  padding: 10px 25px;
  border: none;
  background-color: inherit;
  font-size: 30px;
}

.forms-controller .field-controller input[type="submit"]:hover {
  color: #000;
  font-size: 40px;
  cursor:pointer;
}

